<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.manager.mapper.AlbumClassMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.manager.pojo.AlbumClass" >
    <id column="aclass_id" property="aclassId" jdbcType="INTEGER" />
    <result column="aclass_name" property="aclassName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="aclass_des" property="aclassDes" jdbcType="VARCHAR" />
    <result column="aclass_sort" property="aclassSort" jdbcType="TINYINT" />
    <result column="aclass_cover" property="aclassCover" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="picNumber" property="picNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    aclass_id, aclass_name, store_id, aclass_des, aclass_sort, aclass_cover, upload_time, 
    is_default
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gs_album_class
    where aclass_id = #{aclassId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_album_class
    where aclass_id = #{aclassId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goshop.manager.pojo.AlbumClass" >
    insert into gs_album_class (aclass_id, aclass_name, store_id, 
      aclass_des, aclass_sort, aclass_cover, 
      upload_time, is_default)
    values (#{aclassId,jdbcType=INTEGER}, #{aclassName,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{aclassDes,jdbcType=VARCHAR}, #{aclassSort,jdbcType=TINYINT}, #{aclassCover,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{isDefault,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.goshop.manager.pojo.AlbumClass" >
    insert into gs_album_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aclassId != null" >
        aclass_id,
      </if>
      <if test="aclassName != null" >
        aclass_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="aclassDes != null" >
        aclass_des,
      </if>
      <if test="aclassSort != null" >
        aclass_sort,
      </if>
      <if test="aclassCover != null" >
        aclass_cover,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aclassId != null" >
        #{aclassId,jdbcType=INTEGER},
      </if>
      <if test="aclassName != null" >
        #{aclassName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="aclassDes != null" >
        #{aclassDes,jdbcType=VARCHAR},
      </if>
      <if test="aclassSort != null" >
        #{aclassSort,jdbcType=TINYINT},
      </if>
      <if test="aclassCover != null" >
        #{aclassCover,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.manager.pojo.AlbumClass" >
    update gs_album_class
    <set >
      <if test="aclassName != null" >
        aclass_name = #{aclassName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="aclassDes != null" >
        aclass_des = #{aclassDes,jdbcType=VARCHAR},
      </if>
      <if test="aclassSort != null" >
        aclass_sort = #{aclassSort,jdbcType=TINYINT},
      </if>
      <if test="aclassCover != null" >
        aclass_cover = #{aclassCover,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=BIT},
      </if>
    </set>
    where aclass_id = #{aclassId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.manager.pojo.AlbumClass" >
    update gs_album_class
    set aclass_name = #{aclassName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      aclass_des = #{aclassDes,jdbcType=VARCHAR},
      aclass_sort = #{aclassSort,jdbcType=TINYINT},
      aclass_cover = #{aclassCover,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      is_default = #{isDefault,jdbcType=BIT}
    where aclass_id = #{aclassId,jdbcType=INTEGER}
  </update>

  <select id="findByStoreId" resultMap="BaseResultMap" >
    SELECT
        a.*, count(p.apic_id) AS picNumber
    FROM
        gs_album_class a
    LEFT JOIN gs_store s ON a.store_id = s.store_id
    LEFT JOIN gs_album_pic p ON a.aclass_id = p.aclass_id
    WHERE
        s.member_id = #{memberId}
    GROUP BY
        a.aclass_id
    ORDER BY
    <if test="sortValue == 5 " >
      aclass_sort asc
    </if>
    <if test="sortValue == 0 " >
      upload_time desc
    </if>
    <if test="sortValue == null or sortValue == 1 " >
      upload_time asc
    </if>
    <if test="sortValue == 2 " >
      aclass_name desc
    </if>
    <if test="sortValue == 3 " >
      aclass_name asc
    </if>
    <if test="sortValue == 4 " >
      aclass_sort desc
    </if>
  </select>

  <select id="findCountByStoreId" resultType="int">
    SELECT
        count(a.aclass_id)
    FROM
        gs_album_class a
    LEFT JOIN gs_store s ON a.store_id = s.store_id
    WHERE
      s.member_id = #{memberId}
  </select>

  <select id="findOneByAclassNameAndStoreId" resultMap="BaseResultMap" >
    SELECT
    a.*
    FROM
    gs_album_class a
    LEFT JOIN gs_store s ON a.store_id = s.store_id
    WHERE
    s.member_id = #{memberId}
    and a.aclass_name = #{aclassName}
  </select>

  <select id="findDefaultAlbumClass" resultMap="BaseResultMap" >
    SELECT
    a.*
    FROM
    gs_album_class a
    LEFT JOIN gs_store s ON a.store_id = s.store_id
    WHERE
    s.member_id = #{memberId}
    and a.is_default = 1
  </select>

  <select id="findByAclassIdAndUserId" resultMap="BaseResultMap" >
    SELECT
    a.*
    FROM
    gs_album_class a
    LEFT JOIN gs_store s ON a.store_id = s.store_id
    WHERE
    s.member_id = #{memberId}
    and a.aclass_id = #{aclassId}
  </select>

  <update id="updateByStoreId" parameterType="com.goshop.manager.pojo.AlbumClass" >
    update gs_album_class
    <set >
      <if test="aclassName != null" >
        aclass_name = #{aclassName,jdbcType=VARCHAR},
      </if>
      <if test="aclassDes != null" >
        aclass_des = #{aclassDes,jdbcType=VARCHAR},
      </if>
      <if test="aclassSort != null" >
        aclass_sort = #{aclassSort,jdbcType=TINYINT},
      </if>
      <if test="aclassCover != null" >
        aclass_cover = #{aclassCover,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=BIT},
      </if>
    </set>
    where aclass_id = #{aclassId,jdbcType=INTEGER}
    and store_id = #{storeId,jdbcType=INTEGER}
  </update>
</mapper>