<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.manager.mapper.AlbumPicMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.manager.pojo.AlbumPic" >
    <id column="apic_id" property="apicId" jdbcType="INTEGER" />
    <result column="apic_name" property="apicName" jdbcType="VARCHAR" />
    <result column="apic_tag" property="apicTag" jdbcType="VARCHAR" />
    <result column="aclass_id" property="aclassId" jdbcType="INTEGER" />
    <result column="apic_cover" property="apicCover" jdbcType="VARCHAR" />
    <result column="apic_size" property="apicSize" jdbcType="INTEGER" />
    <result column="apic_spec" property="apicSpec" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    apic_id, apic_name, apic_tag, aclass_id, apic_cover, apic_size, apic_spec, store_id, 
    upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gs_album_pic
    where apic_id = #{apicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_album_pic
    where apic_id = #{apicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goshop.manager.pojo.AlbumPic" >
    insert into gs_album_pic (apic_id, apic_name, apic_tag, 
      aclass_id, apic_cover, apic_size, 
      apic_spec, store_id, upload_time
      )
    values (#{apicId,jdbcType=INTEGER}, #{apicName,jdbcType=VARCHAR}, #{apicTag,jdbcType=VARCHAR}, 
      #{aclassId,jdbcType=INTEGER}, #{apicCover,jdbcType=VARCHAR}, #{apicSize,jdbcType=INTEGER}, 
      #{apicSpec,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="apicId"  parameterType="com.goshop.manager.pojo.AlbumPic" >
    insert into gs_album_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apicId != null" >
        apic_id,
      </if>
      <if test="apicName != null" >
        apic_name,
      </if>
      <if test="apicTag != null" >
        apic_tag,
      </if>
      <if test="aclassId != null" >
        aclass_id,
      </if>
      <if test="apicCover != null" >
        apic_cover,
      </if>
      <if test="apicSize != null" >
        apic_size,
      </if>
      <if test="apicSpec != null" >
        apic_spec,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apicId != null" >
        #{apicId,jdbcType=INTEGER},
      </if>
      <if test="apicName != null" >
        #{apicName,jdbcType=VARCHAR},
      </if>
      <if test="apicTag != null" >
        #{apicTag,jdbcType=VARCHAR},
      </if>
      <if test="aclassId != null" >
        #{aclassId,jdbcType=INTEGER},
      </if>
      <if test="apicCover != null" >
        #{apicCover,jdbcType=VARCHAR},
      </if>
      <if test="apicSize != null" >
        #{apicSize,jdbcType=INTEGER},
      </if>
      <if test="apicSpec != null" >
        #{apicSpec,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.manager.pojo.AlbumPic" >
    update gs_album_pic
    <set >
      <if test="apicName != null" >
        apic_name = #{apicName,jdbcType=VARCHAR},
      </if>
      <if test="apicTag != null" >
        apic_tag = #{apicTag,jdbcType=VARCHAR},
      </if>
      <if test="aclassId != null" >
        aclass_id = #{aclassId,jdbcType=INTEGER},
      </if>
      <if test="apicCover != null" >
        apic_cover = #{apicCover,jdbcType=VARCHAR},
      </if>
      <if test="apicSize != null" >
        apic_size = #{apicSize,jdbcType=INTEGER},
      </if>
      <if test="apicSpec != null" >
        apic_spec = #{apicSpec,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where apic_id = #{apicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.manager.pojo.AlbumPic" >
    update gs_album_pic
    set apic_name = #{apicName,jdbcType=VARCHAR},
      apic_tag = #{apicTag,jdbcType=VARCHAR},
      aclass_id = #{aclassId,jdbcType=INTEGER},
      apic_cover = #{apicCover,jdbcType=VARCHAR},
      apic_size = #{apicSize,jdbcType=INTEGER},
      apic_spec = #{apicSpec,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where apic_id = #{apicId,jdbcType=INTEGER}
  </update>

  <update id="updateToDefaultAlbumClass" >
    UPDATE gs_album_pic
    SET aclass_id = #{toAclassId}
    WHERE
        aclass_id = #{aclassId}
  </update>
</mapper>