<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.manager.mapper.StoreGradeMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.manager.pojo.StoreGrade" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="confirm" property="confirm" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="function" property="function" jdbcType="VARCHAR" />
    <result column="goods_Limit" property="goodsLimit" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="space_Limit" property="spaceLimit" jdbcType="INTEGER" />
    <result column="template" property="template" jdbcType="VARCHAR" />
    <result column="template_Number" property="templateNumber" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created, creator, confirm, description, function, goods_Limit, price, sort, space_Limit, 
    template, template_Number, name, alias
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gs_store_grade
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gs_store_grade
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.goshop.manager.pojo.StoreGrade" >
    insert into gs_store_grade (id, created, creator, 
      confirm, description, function, 
      goods_Limit, price, sort, 
      space_Limit, template, template_Number, 
      name, alias)
    values (#{id,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{confirm,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{function,jdbcType=VARCHAR}, 
      #{goodsLimit,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{spaceLimit,jdbcType=INTEGER}, #{template,jdbcType=VARCHAR}, #{templateNumber,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.goshop.manager.pojo.StoreGrade" >
    insert into gs_store_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="confirm != null" >
        confirm,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="function != null" >
        function,
      </if>
      <if test="goodsLimit != null" >
        goods_Limit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="spaceLimit != null" >
        space_Limit,
      </if>
      <if test="template != null" >
        template,
      </if>
      <if test="templateNumber != null" >
        template_Number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="alias != null" >
        alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null" >
        #{confirm,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="function != null" >
        #{function,jdbcType=VARCHAR},
      </if>
      <if test="goodsLimit != null" >
        #{goodsLimit,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="spaceLimit != null" >
        #{spaceLimit,jdbcType=INTEGER},
      </if>
      <if test="template != null" >
        #{template,jdbcType=VARCHAR},
      </if>
      <if test="templateNumber != null" >
        #{templateNumber,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.manager.pojo.StoreGrade" >
    update gs_store_grade
    <set >
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null" >
        confirm = #{confirm,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="function != null" >
        function = #{function,jdbcType=VARCHAR},
      </if>
      <if test="goodsLimit != null" >
        goods_Limit = #{goodsLimit,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="spaceLimit != null" >
        space_Limit = #{spaceLimit,jdbcType=INTEGER},
      </if>
      <if test="template != null" >
        template = #{template,jdbcType=VARCHAR},
      </if>
      <if test="templateNumber != null" >
        template_Number = #{templateNumber,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.manager.pojo.StoreGrade" >
    update gs_store_grade
    set created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      confirm = #{confirm,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      function = #{function,jdbcType=VARCHAR},
      goods_Limit = #{goodsLimit,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      space_Limit = #{spaceLimit,jdbcType=INTEGER},
      template = #{template,jdbcType=VARCHAR},
      template_Number = #{templateNumber,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>