<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.manager.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.manager.pojo.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="DATE" />
    <result column="upcreated" property="upcreated" jdbcType="DATE" />
    <collection property="roleList" ofType="com.goshop.manager.pojo.Role">
      <id column="r_id" property="id" jdbcType="BIGINT" />
      <result column="r_name" property="name" jdbcType="VARCHAR" />
      <result column="r_alias" property="alias" jdbcType="VARCHAR" />
      <result column="r_enable" property="enable" jdbcType="INTEGER" />
      <result column="r_type" property="type" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <resultMap id="permissionResultMap" type="com.goshop.manager.pojo.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="per_code" property="perCode" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, login_name, password, salt, enable, type, created, upcreated
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gs_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.goshop.manager.pojo.User" >
    insert into gs_user (id, user_name, login_name, 
      password, salt, enable, 
      type, created, upcreated)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{created,jdbcType=DATE}, #{upcreated,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.goshop.manager.pojo.User" >
    insert into gs_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="upcreated != null" >
        upcreated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=DATE},
      </if>
      <if test="upcreated != null" >
        #{upcreated,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.manager.pojo.User" >
    update gs_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=DATE},
      </if>
      <if test="upcreated != null" >
        upcreated = #{upcreated,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.manager.pojo.User" >
    update gs_user
    set user_name = #{userName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      created = #{created,jdbcType=DATE},
      upcreated = #{upcreated,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findByLoginName" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from gs_user
    where login_name = #{loginName,jdbcType=VARCHAR}
  </select>

  <select id="findOfRoleOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
     SELECT
	u.*,r.id as r_id,r.name as r_name,r.alias as r_alias,r.enable as r_enable,r.type as r_type FROM
	(
		gs_user u
		LEFT JOIN gs_user_role o ON u.id = o.u_id
	)
    LEFT JOIN gs_role r ON o.r_id = r.id
    WHERE u.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findPermissionListByUserId" resultMap="permissionResultMap" parameterType="java.lang.Long" >
    SELECT
	p.*
FROM

		gs_user u	LEFT JOIN gs_user_role o ON u.id = o.u_id

		LEFT JOIN gs_role r ON o.r_id = r.id

		LEFT JOIN gs_role_permission rp ON  r.id = rp.r_id

LEFT JOIN gs_permission p ON rp.per_id = p.id
WHERE
	u.id  =  #{id,jdbcType=BIGINT} and p.id  IS NOT NULL
  </select>
</mapper>