<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.seller.mapper.GoodsCommonMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.seller.pojo.GoodsCommon" >
    <id column="goods_commonid" property="goodsCommonid" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_jingle" property="goodsJingle" jdbcType="VARCHAR" />
    <result column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="gc_name" property="gcName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="spec_name" property="specName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_state" property="goodsState" jdbcType="TINYINT" />
    <result column="goods_stateremark" property="goodsStateremark" jdbcType="VARCHAR" />
    <result column="goods_verify" property="goodsVerify" jdbcType="TINYINT" />
    <result column="goods_verifyremark" property="goodsVerifyremark" jdbcType="VARCHAR" />
    <result column="goods_lock" property="goodsLock" jdbcType="TINYINT" />
    <result column="goods_addtime" property="goodsAddtime" jdbcType="TIMESTAMP" />
    <result column="goods_selltime" property="goodsSelltime" jdbcType="TIMESTAMP" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="goods_marketprice" property="goodsMarketprice" jdbcType="DECIMAL" />
    <result column="goods_costprice" property="goodsCostprice" jdbcType="DECIMAL" />
    <result column="goods_discount" property="goodsDiscount" jdbcType="REAL" />
    <result column="goods_serial" property="goodsSerial" jdbcType="VARCHAR" />
    <result column="transport_id" property="transportId" jdbcType="INTEGER" />
    <result column="transport_title" property="transportTitle" jdbcType="VARCHAR" />
    <result column="goods_commend" property="goodsCommend" jdbcType="TINYINT" />
    <result column="goods_freight" property="goodsFreight" jdbcType="DECIMAL" />
    <result column="goods_vat" property="goodsVat" jdbcType="TINYINT" />
    <result column="areaid_1" property="areaid1" jdbcType="INTEGER" />
    <result column="areaid_2" property="areaid2" jdbcType="INTEGER" />
    <result column="goods_stcids" property="goodsStcids" jdbcType="VARCHAR" />
    <result column="plateid_top" property="plateidTop" jdbcType="INTEGER" />
    <result column="plateid_bottom" property="plateidBottom" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.goshop.seller.pojo.GoodsCommonWithBLOBs" extends="BaseResultMap" >
    <result column="spec_value" property="specValue" jdbcType="LONGVARCHAR" />
    <result column="goods_attr" property="goodsAttr" jdbcType="LONGVARCHAR" />
    <result column="goods_body" property="goodsBody" jdbcType="LONGVARCHAR" />
    <result column="goods_specname" property="goodsSpecname" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_commonid, goods_name, goods_jingle, gc_id, gc_name, store_id, store_name, spec_name, 
    brand_id, brand_name, type_id, goods_image, goods_state, goods_stateremark, goods_verify, 
    goods_verifyremark, goods_lock, goods_addtime, goods_selltime, goods_price, goods_marketprice, 
    goods_costprice, goods_discount, goods_serial, transport_id, transport_title, goods_commend, 
    goods_freight, goods_vat, areaid_1, areaid_2, goods_stcids, plateid_top, plateid_bottom
  </sql>
  <sql id="Blob_Column_List" >
    spec_value, goods_attr, goods_body, goods_specname
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_goods_common
    where goods_commonid = #{goodsCommonid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_goods_common
    where goods_commonid = #{goodsCommonid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goshop.seller.pojo.GoodsCommonWithBLOBs" >
    insert into gs_goods_common (goods_commonid, goods_name, goods_jingle, 
      gc_id, gc_name, store_id, 
      store_name, spec_name, brand_id, 
      brand_name, type_id, goods_image, 
      goods_state, goods_stateremark, goods_verify, 
      goods_verifyremark, goods_lock, goods_addtime, 
      goods_selltime, goods_price, goods_marketprice, 
      goods_costprice, goods_discount, goods_serial, 
      transport_id, transport_title, goods_commend, 
      goods_freight, goods_vat, areaid_1, 
      areaid_2, goods_stcids, plateid_top, 
      plateid_bottom, spec_value, goods_attr, 
      goods_body, goods_specname)
    values (#{goodsCommonid,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsJingle,jdbcType=VARCHAR}, 
      #{gcId,jdbcType=INTEGER}, #{gcName,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=VARCHAR}, #{specName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, 
      #{brandName,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{goodsImage,jdbcType=VARCHAR}, 
      #{goodsState,jdbcType=TINYINT}, #{goodsStateremark,jdbcType=VARCHAR}, #{goodsVerify,jdbcType=TINYINT}, 
      #{goodsVerifyremark,jdbcType=VARCHAR}, #{goodsLock,jdbcType=TINYINT}, #{goodsAddtime,jdbcType=TIMESTAMP}, 
      #{goodsSelltime,jdbcType=TIMESTAMP}, #{goodsPrice,jdbcType=DECIMAL}, #{goodsMarketprice,jdbcType=DECIMAL}, 
      #{goodsCostprice,jdbcType=DECIMAL}, #{goodsDiscount,jdbcType=REAL}, #{goodsSerial,jdbcType=VARCHAR}, 
      #{transportId,jdbcType=INTEGER}, #{transportTitle,jdbcType=VARCHAR}, #{goodsCommend,jdbcType=TINYINT}, 
      #{goodsFreight,jdbcType=DECIMAL}, #{goodsVat,jdbcType=TINYINT}, #{areaid1,jdbcType=INTEGER}, 
      #{areaid2,jdbcType=INTEGER}, #{goodsStcids,jdbcType=VARCHAR}, #{plateidTop,jdbcType=INTEGER}, 
      #{plateidBottom,jdbcType=INTEGER}, #{specValue,jdbcType=LONGVARCHAR}, #{goodsAttr,jdbcType=LONGVARCHAR}, 
      #{goodsBody,jdbcType=LONGVARCHAR}, #{goodsSpecname,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.goshop.seller.pojo.GoodsCommonWithBLOBs" >
    insert into gs_goods_common
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsCommonid != null" >
        goods_commonid,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsJingle != null" >
        goods_jingle,
      </if>
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="gcName != null" >
        gc_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="specName != null" >
        spec_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsState != null" >
        goods_state,
      </if>
      <if test="goodsStateremark != null" >
        goods_stateremark,
      </if>
      <if test="goodsVerify != null" >
        goods_verify,
      </if>
      <if test="goodsVerifyremark != null" >
        goods_verifyremark,
      </if>
      <if test="goodsLock != null" >
        goods_lock,
      </if>
      <if test="goodsAddtime != null" >
        goods_addtime,
      </if>
      <if test="goodsSelltime != null" >
        goods_selltime,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsMarketprice != null" >
        goods_marketprice,
      </if>
      <if test="goodsCostprice != null" >
        goods_costprice,
      </if>
      <if test="goodsDiscount != null" >
        goods_discount,
      </if>
      <if test="goodsSerial != null" >
        goods_serial,
      </if>
      <if test="transportId != null" >
        transport_id,
      </if>
      <if test="transportTitle != null" >
        transport_title,
      </if>
      <if test="goodsCommend != null" >
        goods_commend,
      </if>
      <if test="goodsFreight != null" >
        goods_freight,
      </if>
      <if test="goodsVat != null" >
        goods_vat,
      </if>
      <if test="areaid1 != null" >
        areaid_1,
      </if>
      <if test="areaid2 != null" >
        areaid_2,
      </if>
      <if test="goodsStcids != null" >
        goods_stcids,
      </if>
      <if test="plateidTop != null" >
        plateid_top,
      </if>
      <if test="plateidBottom != null" >
        plateid_bottom,
      </if>
      <if test="specValue != null" >
        spec_value,
      </if>
      <if test="goodsAttr != null" >
        goods_attr,
      </if>
      <if test="goodsBody != null" >
        goods_body,
      </if>
      <if test="goodsSpecname != null" >
        goods_specname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsCommonid != null" >
        #{goodsCommonid,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsJingle != null" >
        #{goodsJingle,jdbcType=VARCHAR},
      </if>
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        #{specName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsState != null" >
        #{goodsState,jdbcType=TINYINT},
      </if>
      <if test="goodsStateremark != null" >
        #{goodsStateremark,jdbcType=VARCHAR},
      </if>
      <if test="goodsVerify != null" >
        #{goodsVerify,jdbcType=TINYINT},
      </if>
      <if test="goodsVerifyremark != null" >
        #{goodsVerifyremark,jdbcType=VARCHAR},
      </if>
      <if test="goodsLock != null" >
        #{goodsLock,jdbcType=TINYINT},
      </if>
      <if test="goodsAddtime != null" >
        #{goodsAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsSelltime != null" >
        #{goodsSelltime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsMarketprice != null" >
        #{goodsMarketprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsCostprice != null" >
        #{goodsCostprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsDiscount != null" >
        #{goodsDiscount,jdbcType=REAL},
      </if>
      <if test="goodsSerial != null" >
        #{goodsSerial,jdbcType=VARCHAR},
      </if>
      <if test="transportId != null" >
        #{transportId,jdbcType=INTEGER},
      </if>
      <if test="transportTitle != null" >
        #{transportTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommend != null" >
        #{goodsCommend,jdbcType=TINYINT},
      </if>
      <if test="goodsFreight != null" >
        #{goodsFreight,jdbcType=DECIMAL},
      </if>
      <if test="goodsVat != null" >
        #{goodsVat,jdbcType=TINYINT},
      </if>
      <if test="areaid1 != null" >
        #{areaid1,jdbcType=INTEGER},
      </if>
      <if test="areaid2 != null" >
        #{areaid2,jdbcType=INTEGER},
      </if>
      <if test="goodsStcids != null" >
        #{goodsStcids,jdbcType=VARCHAR},
      </if>
      <if test="plateidTop != null" >
        #{plateidTop,jdbcType=INTEGER},
      </if>
      <if test="plateidBottom != null" >
        #{plateidBottom,jdbcType=INTEGER},
      </if>
      <if test="specValue != null" >
        #{specValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttr != null" >
        #{goodsAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsBody != null" >
        #{goodsBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsSpecname != null" >
        #{goodsSpecname,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.seller.pojo.GoodsCommonWithBLOBs" >
    update gs_goods_common
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsJingle != null" >
        goods_jingle = #{goodsJingle,jdbcType=VARCHAR},
      </if>
      <if test="gcId != null" >
        gc_id = #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        gc_name = #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="specName != null" >
        spec_name = #{specName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsState != null" >
        goods_state = #{goodsState,jdbcType=TINYINT},
      </if>
      <if test="goodsStateremark != null" >
        goods_stateremark = #{goodsStateremark,jdbcType=VARCHAR},
      </if>
      <if test="goodsVerify != null" >
        goods_verify = #{goodsVerify,jdbcType=TINYINT},
      </if>
      <if test="goodsVerifyremark != null" >
        goods_verifyremark = #{goodsVerifyremark,jdbcType=VARCHAR},
      </if>
      <if test="goodsLock != null" >
        goods_lock = #{goodsLock,jdbcType=TINYINT},
      </if>
      <if test="goodsAddtime != null" >
        goods_addtime = #{goodsAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsSelltime != null" >
        goods_selltime = #{goodsSelltime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsMarketprice != null" >
        goods_marketprice = #{goodsMarketprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsCostprice != null" >
        goods_costprice = #{goodsCostprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsDiscount != null" >
        goods_discount = #{goodsDiscount,jdbcType=REAL},
      </if>
      <if test="goodsSerial != null" >
        goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      </if>
      <if test="transportId != null" >
        transport_id = #{transportId,jdbcType=INTEGER},
      </if>
      <if test="transportTitle != null" >
        transport_title = #{transportTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsCommend != null" >
        goods_commend = #{goodsCommend,jdbcType=TINYINT},
      </if>
      <if test="goodsFreight != null" >
        goods_freight = #{goodsFreight,jdbcType=DECIMAL},
      </if>
      <if test="goodsVat != null" >
        goods_vat = #{goodsVat,jdbcType=TINYINT},
      </if>
      <if test="areaid1 != null" >
        areaid_1 = #{areaid1,jdbcType=INTEGER},
      </if>
      <if test="areaid2 != null" >
        areaid_2 = #{areaid2,jdbcType=INTEGER},
      </if>
      <if test="goodsStcids != null" >
        goods_stcids = #{goodsStcids,jdbcType=VARCHAR},
      </if>
      <if test="plateidTop != null" >
        plateid_top = #{plateidTop,jdbcType=INTEGER},
      </if>
      <if test="plateidBottom != null" >
        plateid_bottom = #{plateidBottom,jdbcType=INTEGER},
      </if>
      <if test="specValue != null" >
        spec_value = #{specValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttr != null" >
        goods_attr = #{goodsAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsBody != null" >
        goods_body = #{goodsBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsSpecname != null" >
        goods_specname = #{goodsSpecname,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_commonid = #{goodsCommonid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.goshop.seller.pojo.GoodsCommonWithBLOBs" >
    update gs_goods_common
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_jingle = #{goodsJingle,jdbcType=VARCHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_name = #{gcName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      spec_name = #{specName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_state = #{goodsState,jdbcType=TINYINT},
      goods_stateremark = #{goodsStateremark,jdbcType=VARCHAR},
      goods_verify = #{goodsVerify,jdbcType=TINYINT},
      goods_verifyremark = #{goodsVerifyremark,jdbcType=VARCHAR},
      goods_lock = #{goodsLock,jdbcType=TINYINT},
      goods_addtime = #{goodsAddtime,jdbcType=TIMESTAMP},
      goods_selltime = #{goodsSelltime,jdbcType=TIMESTAMP},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_marketprice = #{goodsMarketprice,jdbcType=DECIMAL},
      goods_costprice = #{goodsCostprice,jdbcType=DECIMAL},
      goods_discount = #{goodsDiscount,jdbcType=REAL},
      goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      transport_id = #{transportId,jdbcType=INTEGER},
      transport_title = #{transportTitle,jdbcType=VARCHAR},
      goods_commend = #{goodsCommend,jdbcType=TINYINT},
      goods_freight = #{goodsFreight,jdbcType=DECIMAL},
      goods_vat = #{goodsVat,jdbcType=TINYINT},
      areaid_1 = #{areaid1,jdbcType=INTEGER},
      areaid_2 = #{areaid2,jdbcType=INTEGER},
      goods_stcids = #{goodsStcids,jdbcType=VARCHAR},
      plateid_top = #{plateidTop,jdbcType=INTEGER},
      plateid_bottom = #{plateidBottom,jdbcType=INTEGER},
      spec_value = #{specValue,jdbcType=LONGVARCHAR},
      goods_attr = #{goodsAttr,jdbcType=LONGVARCHAR},
      goods_body = #{goodsBody,jdbcType=LONGVARCHAR},
      goods_specname = #{goodsSpecname,jdbcType=LONGVARCHAR}
    where goods_commonid = #{goodsCommonid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.seller.pojo.GoodsCommon" >
    update gs_goods_common
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_jingle = #{goodsJingle,jdbcType=VARCHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_name = #{gcName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=VARCHAR},
      spec_name = #{specName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_state = #{goodsState,jdbcType=TINYINT},
      goods_stateremark = #{goodsStateremark,jdbcType=VARCHAR},
      goods_verify = #{goodsVerify,jdbcType=TINYINT},
      goods_verifyremark = #{goodsVerifyremark,jdbcType=VARCHAR},
      goods_lock = #{goodsLock,jdbcType=TINYINT},
      goods_addtime = #{goodsAddtime,jdbcType=TIMESTAMP},
      goods_selltime = #{goodsSelltime,jdbcType=TIMESTAMP},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      goods_marketprice = #{goodsMarketprice,jdbcType=DECIMAL},
      goods_costprice = #{goodsCostprice,jdbcType=DECIMAL},
      goods_discount = #{goodsDiscount,jdbcType=REAL},
      goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      transport_id = #{transportId,jdbcType=INTEGER},
      transport_title = #{transportTitle,jdbcType=VARCHAR},
      goods_commend = #{goodsCommend,jdbcType=TINYINT},
      goods_freight = #{goodsFreight,jdbcType=DECIMAL},
      goods_vat = #{goodsVat,jdbcType=TINYINT},
      areaid_1 = #{areaid1,jdbcType=INTEGER},
      areaid_2 = #{areaid2,jdbcType=INTEGER},
      goods_stcids = #{goodsStcids,jdbcType=VARCHAR},
      plateid_top = #{plateidTop,jdbcType=INTEGER},
      plateid_bottom = #{plateidBottom,jdbcType=INTEGER}
    where goods_commonid = #{goodsCommonid,jdbcType=INTEGER}
  </update>
</mapper>