<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goshop.seller.mapper.GoodsClassStapleMapper" >
  <resultMap id="BaseResultMap" type="com.goshop.seller.pojo.GoodsClassStaple" >
    <id column="staple_id" property="stapleId" jdbcType="INTEGER" />
    <result column="staple_name" property="stapleName" jdbcType="VARCHAR" />
    <result column="gc_id_1" property="gcId1" jdbcType="INTEGER" />
    <result column="gc_id_2" property="gcId2" jdbcType="INTEGER" />
    <result column="gc_id_3" property="gcId3" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="counter" property="counter" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    staple_id, staple_name, gc_id_1, gc_id_2, gc_id_3, type_id, member_id, counter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gs_goods_class_staple
    where staple_id = #{stapleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gs_goods_class_staple
    where staple_id = #{stapleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goshop.seller.pojo.GoodsClassStaple" >
    insert into gs_goods_class_staple (staple_id, staple_name, gc_id_1, 
      gc_id_2, gc_id_3, type_id, 
      member_id, counter)
    values (#{stapleId,jdbcType=INTEGER}, #{stapleName,jdbcType=VARCHAR}, #{gcId1,jdbcType=INTEGER}, 
      #{gcId2,jdbcType=INTEGER}, #{gcId3,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{memberId,jdbcType=BIGINT}, #{counter,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.goshop.seller.pojo.GoodsClassStaple" >
    insert into gs_goods_class_staple
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stapleId != null" >
        staple_id,
      </if>
      <if test="stapleName != null" >
        staple_name,
      </if>
      <if test="gcId1 != null" >
        gc_id_1,
      </if>
      <if test="gcId2 != null" >
        gc_id_2,
      </if>
      <if test="gcId3 != null" >
        gc_id_3,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="counter != null" >
        counter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stapleId != null" >
        #{stapleId,jdbcType=INTEGER},
      </if>
      <if test="stapleName != null" >
        #{stapleName,jdbcType=VARCHAR},
      </if>
      <if test="gcId1 != null" >
        #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="counter != null" >
        #{counter,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goshop.seller.pojo.GoodsClassStaple" >
    update gs_goods_class_staple
    <set >
      <if test="stapleName != null" >
        staple_name = #{stapleName,jdbcType=VARCHAR},
      </if>
      <if test="gcId1 != null" >
        gc_id_1 = #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        gc_id_2 = #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        gc_id_3 = #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="counter != null" >
        counter = #{counter,jdbcType=INTEGER},
      </if>
    </set>
    where staple_id = #{stapleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goshop.seller.pojo.GoodsClassStaple" >
    update gs_goods_class_staple
    set staple_name = #{stapleName,jdbcType=VARCHAR},
      gc_id_1 = #{gcId1,jdbcType=INTEGER},
      gc_id_2 = #{gcId2,jdbcType=INTEGER},
      gc_id_3 = #{gcId3,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=BIGINT},
      counter = #{counter,jdbcType=INTEGER}
    where staple_id = #{stapleId,jdbcType=INTEGER}
  </update>

  <select id="findByMemberId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gs_goods_class_staple
    where member_id = #{memberId,jdbcType=INTEGER}
  </select>

  <select id="findOneByGcId3AndMemberId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class_staple
    where gc_id_3 = #{gcId3,jdbcType=INTEGER} and member_id = #{memberId,jdbcType=INTEGER}
  </select>
</mapper>